customer4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.crmstyle.com/customer4/" xmlns:impl="http://api.crmstyle.com/customer4/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://api.crmstyle.com/customer4/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://api.crmstyle.com/customer4/xsd" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="select">
        <attribute name="value" type="xsd:int" use="required"/>
        <attribute name="text" type="xsd:string" use="optional"/>
      </complexType>

      <complexType name="selectList">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="select" type="xsd1:select"/>
        </sequence>
      </complexType>

      <complexType name="singleSelect">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="select" type="xsd1:select"/>
        </sequence>
      </complexType>

      <complexType name="synergyComplexData">
        <choice>
          <element name="textData" nillable="true" type="xsd:string"/>
          <element name="selectData" type="xsd1:selectList"/>
        </choice>
        <attribute name="op" type="xsd:string" use="optional"/>
      </complexType>

      <complexType name="extensionData">
        <all>
          <element name="column" type="xsd:string"/>
          <element name="data" type="xsd1:synergyComplexData"/>
        </all>
      </complexType>

      <complexType name="extensions">
        <sequence>
          <element maxOccurs="100" name="extensionData" type="xsd1:extensionData"/>
        </sequence>
      </complexType>

      <complexType name="synergyPerson">
        <choice maxOccurs="unbounded" minOccurs="0">
          <element maxOccurs="1" minOccurs="0" name="synergyid" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="mailaddress" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="mobilemailaddress" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="updateddate" type="xsd:dateTime"/>
          <element maxOccurs="1" minOccurs="0" name="registereddate" type="xsd:dateTime"/>
          <element maxOccurs="1" minOccurs="0" name="refusalflag" type="xsd:boolean"/>
          <element maxOccurs="1" minOccurs="0" name="mailerrorcount" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="mobilemailerrorcount" type="xsd:int"/>
          <element maxOccurs="1" minOccurs="0" name="releaseflaglist" type="xsd1:selectList"/>

          <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="kana" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="prefecture" type="xsd1:singleSelect"/>
          <element maxOccurs="1" minOccurs="0" name="address" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="zipcode" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="phonenumber" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="faxnumber" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="mobilenumber" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="birthday" nillable="true" type="xsd:date"/>
          <element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="extensions" type="xsd1:extensions"/>
        </choice>
      </complexType>

      <complexType name="searchCondition">
        <all>
          <element name="column" type="xsd:string"/>
          <element name="condition" type="xsd1:synergyComplexData"/>
        </all>
      </complexType>

      <complexType name="searchConditions">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="searchCondition" type="xsd1:searchCondition"/>
        </sequence>
        <attribute name="op" type="xsd:string" use="optional"/>
      </complexType>

      <element name="fault">
        <complexType>
          <sequence>
            <element name="errorCode" type="xsd:int"/>
            <element name="errorMessage" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>

      <element name="createRequest">
        <complexType>
          <all>
            <element name="key" type="xsd:string"/>
            <element name="synergyPerson" type="xsd1:synergyPerson"/>
          </all>
        </complexType>
      </element>
      <element name="createResponse">
        <complexType>
          <sequence>
            <element name="synergyid" type="xsd:int"/>
          </sequence>
        </complexType>
      </element>

      <element name="readRequest">
        <complexType>
          <all>
            <element name="key" type="xsd:string"/>
            <element name="searchConditions" type="xsd1:searchConditions"/>
            <element minOccurs="0" name="limit" type="xsd:int"/>
            <element minOccurs="0" name="offset" type="xsd:int"/>
            <element minOccurs="0" name="isDesc" type="xsd:boolean"/>
            <element minOccurs="0" name="sortcolumn" type="xsd:string"/>
          </all>
        </complexType>
      </element>
      <element name="readResponse">
        <complexType>
          <sequence>
            <element name="count" type="xsd:int"/>
            <element maxOccurs="100" minOccurs="0" name="synergyPerson" type="xsd1:synergyPerson"/>
          </sequence>
        </complexType>
      </element>

      <element name="updateRequest">
        <complexType>
          <all>
            <element name="key" type="xsd:string"/>
            <element name="searchConditions" type="xsd1:searchConditions"/>
            <element name="synergyPerson" type="xsd1:synergyPerson"/>
          </all>
        </complexType>
      </element>
      <element name="updateResponse">
        <complexType>
          <sequence>
            <element name="synergyid" type="xsd:int"/>
          </sequence>
        </complexType>
      </element>

      <element name="deleteRequest">
        <complexType>
          <all>
            <element name="key" type="xsd:string"/>
            <element name="searchConditions" type="xsd1:searchConditions"/>
          </all>
        </complexType>
      </element>
      <element name="deleteResponse">
        <complexType>
          <sequence>
            <element name="synergyid" type="xsd:int"/>
          </sequence>
        </complexType>
      </element>

      <element name="countRequest">
        <complexType>
          <all>
            <element name="key" type="xsd:string"/>
            <element name="searchConditions" type="xsd1:searchConditions"/>
          </all>
        </complexType>
      </element>
      <element name="countResponse">
        <complexType>
          <sequence>
            <element name="count" type="xsd:int"/>
          </sequence>
        </complexType>
      </element>

      <element name="upsertRequest">
        <complexType>
          <all>
            <element name="key" type="xsd:string"/>
            <element name="searchConditions" type="xsd1:searchConditions"/>
            <element name="synergyPerson" type="xsd1:synergyPerson"/>
          </all>
        </complexType>
      </element>
      <element name="upsertResponse">
        <complexType>
          <sequence>
            <element name="synergyid" type="xsd:int"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="countResponse">
    <wsdl:part name="countReturn" element="xsd1:countResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="requestParameter" element="xsd1:deleteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="read">
    <wsdl:part name="requestParameter" element="xsd1:readRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upsert">
    <wsdl:part name="requestParameter" element="xsd1:upsertRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upsertResponse">
    <wsdl:part name="upsertReturn" element="xsd1:upsertResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="createReturn" element="xsd1:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="faultMessage">
    <wsdl:part name="faultMessage" element="xsd1:fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="deleteReturn" element="xsd1:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="count">
    <wsdl:part name="requestParameter" element="xsd1:countRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="updateReturn" element="xsd1:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="requestParameter" element="xsd1:createRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="requestParameter" element="xsd1:updateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part name="readReturn" element="xsd1:readResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="customer4PortType">
    <wsdl:operation name="create" parameterOrder="requestParameter">
      <wsdl:input message="impl:create">
    </wsdl:input>
      <wsdl:output message="impl:createResponse">
    </wsdl:output>
      <wsdl:fault name="faultMessage" message="impl:faultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read" parameterOrder="requestParameter">
      <wsdl:input message="impl:read">
    </wsdl:input>
      <wsdl:output message="impl:readResponse">
    </wsdl:output>
      <wsdl:fault name="faultMessage" message="impl:faultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update" parameterOrder="requestParameter">
      <wsdl:input message="impl:update">
    </wsdl:input>
      <wsdl:output message="impl:updateResponse">
    </wsdl:output>
      <wsdl:fault name="faultMessage" message="impl:faultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete" parameterOrder="requestParameter">
      <wsdl:input message="impl:delete">
    </wsdl:input>
      <wsdl:output message="impl:deleteResponse">
    </wsdl:output>
      <wsdl:fault name="faultMessage" message="impl:faultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="count" parameterOrder="requestParameter">
      <wsdl:input message="impl:count">
    </wsdl:input>
      <wsdl:output message="impl:countResponse">
    </wsdl:output>
      <wsdl:fault name="faultMessage" message="impl:faultMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="upsert" parameterOrder="requestParameter">
      <wsdl:input message="impl:upsert">
    </wsdl:input>
      <wsdl:output message="impl:upsertResponse">
    </wsdl:output>
      <wsdl:fault name="faultMessage" message="impl:faultMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="customer4Binding" type="impl:customer4PortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <wsdlsoap:operation soapAction="create"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultMessage">
        <wsdlsoap:fault name="faultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdlsoap:operation soapAction="read"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultMessage">
        <wsdlsoap:fault name="faultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdlsoap:operation soapAction="update"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultMessage">
        <wsdlsoap:fault name="faultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdlsoap:operation soapAction="delete"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultMessage">
        <wsdlsoap:fault name="faultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="count">
      <wsdlsoap:operation soapAction="count"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultMessage">
        <wsdlsoap:fault name="faultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="upsert">
      <wsdlsoap:operation soapAction="upsert"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultMessage">
        <wsdlsoap:fault name="faultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="customer4">
    <wsdl:port name="customer4Port" binding="impl:customer4Binding">
      <wsdlsoap:address location="https://api.crmstyle.com/webapp/api/customer4/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
